CarWash.Functions/emailservice-logicapp.json
{
  "$connections": {
    "value": {
      "azurequeues": {
        "connectionId": "/subscriptions/a984fd43-e460-42c7-957c-a023cf7f8241/resourceGroups/carwash/providers/Microsoft.Web/connections/azurequeues",
        "connectionName": "azurequeues",
        "id": "/subscriptions/a984fd43-e460-42c7-957c-a023cf7f8241/providers/Microsoft.Web/locations/westeurope/managedApis/azurequeues"
      },
      "office365": {
        "connectionId": "/subscriptions/a984fd43-e460-42c7-957c-a023cf7f8241/resourceGroups/carwash/providers/Microsoft.Web/connections/office365",
        "connectionName": "office365",
        "id": "/subscriptions/a984fd43-e460-42c7-957c-a023cf7f8241/providers/Microsoft.Web/locations/westeurope/managedApis/office365"
      }
    }
  },
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Delete_message": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azurequeues']['connectionId']"
            }
          },
          "method": "delete",
          "path": "/@{encodeURIComponent('email')}/messages/@{encodeURIComponent(triggerBody()?['MessageId'])}",
          "queries": {
            "popreceipt": "@triggerBody()?['PopReceipt']"
          }
        },
        "runAfter": {
          "Send_an_email": ["Succeeded"]
        },
        "type": "ApiConnection"
      },
      "Parse_JSON": {
        "inputs": {
          "content": "@triggerBody()?['MessageText']",
          "schema": {
            "properties": {
              "body": {
                "type": "string"
              },
              "subject": {
                "type": "string"
              },
              "to": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "runAfter": {},
        "type": "ParseJson"
      },
      "Send_an_email": {
        "inputs": {
          "body": {
            "Body": "@body('Parse_JSON')?['body']",
            "IsHtml": true,
            "Subject": "@body('Parse_JSON')?['subject']",
            "To": "@body('Parse_JSON')?['to']"
          },
          "host": {
            "connection": {
              "name": "@parameters('$connections')['office365']['connectionId']"
            }
          },
          "method": "post",
          "path": "/Mail"
        },
        "runAfter": {
          "Parse_JSON": ["Succeeded"]
        },
        "type": "ApiConnection"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "When_there_are_messages_in_a_queue": {
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azurequeues']['connectionId']"
            }
          },
          "method": "get",
          "path": "/@{encodeURIComponent('email')}/message_trigger"
        },
        "recurrence": {
          "frequency": "Minute",
          "interval": 1
        },
        "splitOn": "@triggerBody()?['QueueMessagesList']?['QueueMessage']",
        "type": "ApiConnection"
      }
    }
  }
}
